@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

:root {
  --primary: #cd3f22;
  --secondary: #887b80;
  --background: #2c2126;
  --font-color: #eee7e1;
  --addidtional: #9d352d;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: var(--font-color);
  font-family: "Lato", sans-serif;
}
/* layout */
.calc-container {
  color: var(--font-color);
  min-height: 100vh;
}
.calc-container,
.display {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* display section */
.display {
  color: var(--font-color);
  background-color: var(--background);
  margin: 0 5%;
  height: 30vh;
  border-radius: 5px;
  box-shadow: 5px 5px 5px var(--secondary);
}
.display-history {
  height: inherit;
  font-size: 1.5rem;
  border-bottom: none;
  padding: 1rem;
  overflow-y: auto;
  border-bottom: 1px solid var(--font-color);
}
.display-history::-webkit-scrollbar,
.display-input::-webkit-scrollbar {
  background-color: var(--background);
}
.display-history::-webkit-scrollbar-corner,
.display-input::-webkit-scrollbar-corner {
  background-color: transparent;
}
.display-history::-webkit-scrollbar-thumb,
.display-input::-webkit-scrollbar-thumb {
  background-color: var(--addidtional);
  border-radius: 5px;
}
.display-input {
  height: 10vh;
  padding: 0 1rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  overflow-x: auto;
}
/* button grid */
.buttons-container {
  margin: 5%;
  min-height: 40vh;
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(4, 1fr);
  gap: 2%;
}
.equal {
  grid-column: span 3;
}
/* buttons */
.btn {
  box-shadow: 5px 5px 5px var(--background);
  cursor: pointer;
  color: var(--font-color);
  border-radius: 5px;
  border: none;
  background-color: var(--primary);
  font-size: 1.5rem;
  font-weight: 700;
  transition-duration: 200ms;
}
.btn:hover {
  box-shadow: 0 0 0 transparent;
  background-color: var(--background);
}
.btn:active {
  color: var(--background);
  background-color: var(--font-color);
}
.operation-button {
  background-color: var(--addidtional);
}
.execution-button {
  background-color: var(--addidtional);
}

@media (min-width: 600px) {
  .calc-container {
    margin: 0 auto;
  }
  .btn {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1020px) {
  .calc-container {
    width: 40vw;
  }
}
