* {
  box-sizing: 0;
  padding: 0;
  margin: 0;
}
.container {
  height: 100vh;
}
.title {
  text-align: center;
}
.calc-container,
.display {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.buttons-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: ;
}
